*,
html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: #fff;
	background-color: rgb(5, 12, 104);
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style: none;
}

nav,
footer {
	height: 10vh;
	background-color: rgb(5, 105, 105);
}

main {
	min-height: 80vh;
}

#fotter {
	background-color: blueviolet;
}
