.main {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.panel {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(1, 24, 87);
}

.panel:nth-of-type(2) {
  background-color: rgb(112, 1, 1);
}
