.preview {
  margin: auto;
  display: flex;
  padding: 1.2rem;
  min-width: 22vw;
  width: min-content;
  text-align: center;
  height: min-content;
  align-items: center;
  border-radius: var(--corner);
  flex-direction: column;
  justify-content: center;
  border: 1px solid #fff;
}

.imageContainer {
}
.songCover {
  border-radius: var(--corner) var(--corner) 0 0;
}

.info {
  display: flex;
  justify-content: space-between;
}

.infoTxt {
  text-align: left;
}
.title {
}
.tagline {
  font-weight: 600;
}

.infoStats {
  text-align: right;
}
.infoStats span {
}
.infoStats .plays {
}
.infoStats .duration {
}

.artist {
  position: relative;
  width: min-content;
  margin-block-start: 2rem;
}
.artistImage {
  filter: brightness(0.6);
  border-radius: 0 0 var(--corner) var(--corner);
}
.artistInfo {
  left: 0;
  bottom: 0;
  text-align: left;
  position: absolute;
  padding: 1rem 0.5rem;
}
.artistBio {
}
.listeners {
}
